body{
    
     @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rubik+Vinyl&family=Sansita+Swashed&display=swap'); 
    
}
/* utility classes */
.img-resposive{
    max-width: 100%;
}
.pizza_image{
    background-image: url(pizza.jpg);
    background-color: lightsalmon;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.pizza_wrapper{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pizza_wrapper h1{
    font-size: 3rem;
    text-align: center;
}
.from_code{
    text-align: center;
}
.from_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    padding: 0.5rem;
    border: none;

}
.from_code button{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #00bab1;
    border-radius: .5rem;
    margin-top: 1rem;
    /* background-color: brown; */
}
/* product sectin */
.product{
    width: 80%;
    margin-left: auto;
    margin-right:auto ;
}
.product_list{
    float: left;
    width: 33.33%;
    margin-left:0px ;
    border-color: #00bab1;

}